<html>
<head>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/none.js"></script>
</head>
<body>
<div id="chartdiv"></div>     
</body>  
<script type="text/javascript">

var chart = AmCharts.makeChart("chartdiv", {
    "type": "serial",
    "theme": "none",
    "legend": {
        "horizontalGap": 10,
        "maxColumns": 1,
        "position": "right",
        "useGraphSettings":true,
        "markerSize": 10
    },
    "dataProvider": [{
        "year": 'Security Council',
        "For": 64.6,
        "Abstain": 193.8,
        "Against": 64.6,

    }, {
        "year": 'Demos',
        "For2": 247,
        "Abstain2": 27,
        "Against2": 49,
    }],
    "valueAxes": [{
        "stackType": "regular",
        "axisAlpha": 0,
        "gridAlpha": 0
    }],
    "graphs": [{
        "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
        "fillAlphas": 0.8,
        "labelText": "[[value]]",
        "lineAlpha": 0,
        "title": "For",
        "type": "column",
        "color": "#000000",
        "valueField": "For2"
    }, {
        "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
        "fillAlphas": 0.8,
        "labelText": "[[value]]",
        "lineAlpha": 0,
        "title": "Abstain",
        "type": "column",
        "color": "#000000",
        "valueField": "Abstain2"
    }, {
        "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
        "fillAlphas": 0.8,
        "labelText": "[[value]]",
        "lineAlpha": 0.3,
        "title": "Against",
        "type": "column",
        "color": "#000000",
        "valueField": "Against2"
    }, {
        "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[1]</b></span>",
        "fillAlphas": 0.8,
        "labelText": "[1]",
        "lineAlpha": 0.3,
        "title": "China",
        "type": "column",
        "color": "#000000",
        "valueField": "For"
    }, {
        "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[3]</b></span>",
        "fillAlphas": 0.8,
        "labelText": "[3]",
        "lineAlpha": 0.3,
        "title": "Russia, England, France",
        "type": "column",
        "color": "#000000",
        "valueField": "Abstain"
    }, {
        "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[1]</b></span>",
        "fillAlphas": 0.8,
        "labelText": "[1]",
        "lineAlpha": 0.3,
        "title": "USA",
        "type": "column",
        "color": "#000000",
        "valueField": "Against"
    }],
    "rotate": true,
    "categoryField": "year",
    "categoryAxis": {
        "gridPosition": "start",
        "axisAlpha": 0,
        "gridAlpha": 0,
        "position": "left"
    },
    "exportConfig":{
      "menuTop":"0px",
      "menuItems": [{
      "icon": '/lib/3/images/export.png',
      "format": 'png'     
      }]  
    }

});
</script>

</html>